In [1]:
import requests
import os
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("C:\\Users\\user\\Solo Dolo\\EPL Analysis\\2018_2022_data/2022Chelsea.csv",parse_dates=['Date'])

In [7]:
df

,Unnamed: 0,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Referee,Match Report,Notes,Team,Standard_Gls,Standard_Sh,Standard_SoT,Standard_SoT%,Standard_G/Sh,Standard_G/SoT,Standard_Dist,Standard_FK,Standard_PK,Standard_PKatt,Expected_xG,Expected_npxG,Expected_npxG/Sh,Expected_G-xG,Expected_np:G-xG,SCA_Types_SCA,SCA_Types_PassLive,SCA_Types_PassDead,SCA_Types_Drib,SCA_Types_Sh,SCA_Types_Fld,SCA_Types_Def,GCA_Types_GCA,GCA_Types_PassLive,GCA_Types_PassDead,GCA_Types_Drib,GCA_Types_Sh,GCA_Types_Fld,GCA_Types_Def,Tackles_Tkl,Tackles_TklW,Tackles_Def_3rd,Tackles_Mid_3rd,Tackles_Att_3rd,Vs_Dribbles_Tkl,Vs_Dribbles_Att,Vs_Dribbles_Tkl%,Vs_Dribbles_Past,Pressures_Press,Pressures_Succ,Pressures_%,Pressures_Def_3rd,Pressures_Mid_3rd,Pressures_Att_3rd,Blocks_Blocks,Blocks_Sh,Blocks_ShSv,Blocks_Pass,Def_Int,Def_Tkl+Int,Def_Clr,Def_Err,GK_Perf_SoTA,GK_Perf_GA,GK_Perf_Saves,GK_Perf_Save%,GK_Perf_CS,GK_Perf_PSxG,GK_Perf_PSxG+/-,GK_Penalty_PKatt,GK_Penalty_PKA,GK_Penalty_PKsv,GK_Penalty_PKm,GK_Launch_Cmp,GK_Launch_Att,GK_Launch_Cmp%,GK_Passes_Att,GK_Passes_Thr,GK_Passes_Launch%,GK_Passes_AvgLen,Gk_Goal_Kk_Att,Gk_Goal_Kk_Launch%,Gk_Goal_Kk_AvgLen,GK_Crosses_Opp,GK_Crosses_Stp,GK_Crosses_Stp%,Gk_Sweeper_#OPA,Gk_Sweeper_AvgDist,Passing_Total_Cmp,Passing_Total_Att,Passing_Total_Cmp%,Passing_Total_TotDist,Passing_Total_PrgDist,Passing_Short_Cmp,Passing_Short_Att,Passing_Short_Cmp%,Passing_Medium_Cmp,Passing_Medium_Att,Passing_Medium_Cmp%,Passing_Long_Cmp,Passing_Long_Att,Passing_Long_Cmp%,Passing_Ast,Passing_xA,Passing_KP,Passing_1/3,Passing_PPA,Passing_CrsPA,Passing_Prog,Misc_Stats_CrdY,Misc_Stats_CrdR,Misc_Stats_2CrdY,Misc_Stats_Fls,Misc_Stats_Fld,Misc_Stats_Off,Misc_Stats_Crs,Misc_Stats_Int,Misc_Stats_TklW,Misc_Stats_PKwon,Misc_Stats_PKcon,Misc_Stats_OG,Misc_Stats_Recov,Misc_Stats_Aerial_DuelsWon,Misc_Stats_Aerial_DuelsLost,Misc_Stats_Aerial_DuelsWon%,Season,Month
0,0,2021-08-11,20:00,Super Cup,UEFA Super Cup,Wed,Home,D,1 (6),1 (5),es Villarreal,NaN,NaN,62,NaN,N'Golo Kant√©,3-4-3,Sergey Karasev,Match Report,NaN,Chelsea,1,19,7,36.8,0.05,0.14,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5,1,4,80.0,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,10,14,4,33,10,9,NaN,NaN,0,NaN,NaN,NaN,NaN,2022,8
1,1,2021-08-14,15:00,Premier League,Matchweek 1,Sat,Home,W,3,0,Crystal Palace,0.9,0.3,62,38965.0,C√©sar Azpilicueta,3-4-3,Jonathan Moss,Match Report,NaN,Chelsea,3,13,6,46.2,0.23,0.50,20.8,4.0,0,0,0.9,0.9,0.07,2.1,2.1,21.0,16.0,1.0,0.0,0.0,4.0,0.0,6.0,5.0,0.0,0.0,0.0,1.0,0.0,21.0,10,3.0,10.0,8.0,10.0,20.0,50.0,10.0,180.0,53.0,29.4,37.0,83.0,60.0,7.0,1.0,0.0,6.0,25,NaN,8.0,0.0,1,0,1,100.0,1.0,0.1,0.1,0,0,0,0,1.0,3.0,33.3,16.0,2.0,18.8,24.6,4.0,0.0,13.0,3.0,0.0,0.0,0.0,21.0,637.0,705.0,90.4,11732.0,2936.0,280.0,296.0,94.6,260.0,280.0,92.9,78.0,99.0,78.8,1,0.3,6.0,57.0,18.0,3.0,44.0,0,0,0,16,17,0,16,25,10,0.0,0.0,0,53.0,8.0,16.0,33.3,2022,8
2,2,2021-08-22,16:30,Premier League,Matchweek 2,Sun,Away,W,2,0,Arsenal,2.9,0.3,65,58729.0,C√©sar Azpilicueta,3-4-3,Paul Tierney,Match Report,NaN,Chelsea,2,22,5,22.7,0.09,0.40,14.6,0.0,0,0,2.9,2.9,0.13,-0.9,-0.9,36.0,33.0,0.0,1.0,0.0,1.0,1.0,4.0,3.0,0.0,0.0,0.0,1.0,0.0,15.0,10,10.0,2.0,3.0,6.0,15.0,40.0,9.0,137.0,48.0,35.0,50.0,58.0,29.0,11.0,1.0,0.0,10.0,14,NaN,19.0,0.0,3,0,3,100.0,1.0,0.0,0.0,0,0,0,0,2.0,7.0,28.6,39.0,3.0,17.9,25.7,4.0,0.0,10.0,4.0,0.0,0.0,1.0,16.3,597.0,676.0,88.3,10281.0,3274.0,271.0,290.0,93.4,257.0,277.0,92.8,53.0,83.0,63.9,2,2.7,18.0,35.0,19.0,4.0,50.0,0,0,0,6,14,0,14,14,10,0.0,0.0,0,64.0,20.0,12.0,62.5,2022,8
3,3,2021-08-28,17:30,Premier League,Matchweek 3,Sat,Away,D,1,1,Liverpool,0.8,2.6,35,54000.0,C√©sar Azpilicueta,3-4-3,Anthony Taylor,Match Report,NaN,Chelsea,1,6,2,33.3,0.17,0.50,12.3,0.0,0,0,0.8,0.8,0.13,0.2,0.2,12.0,10.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,25.0,13,22.0,3.0,0.0,7.0,12.0,58.3,5.0,117.0,35.0,29.9,68.0,39.0,10.0,25.0,6.0,1.0,19.0,20,NaN,44.0,0.0,6,1,6,100.0,0.0,1.1,0.1,1,1,0,0,9.0,21.0,42.9,26.0,4.0,46.2,38.8,14.0,64.3,49.7,21.0,2.0,9.5,2.0,14.0,286.0,389.0,73.5,5243.0,2130.0,133.0,158.0,84.2,108.0,133.0,81.2,38.0,80.0,47.5,1,0.8,6.0,8.0,3.0,0.0,14.0,2,1,0,6,13,2,6,20,13,0.0,0.0,0,82.0,11.0,15.0,42.3,2022,8
4,4,2021-09-11,17:30,Premier League,Matchweek 4,Sat,Home,W,3,0,Aston Villa,1.1,1.5,57,39969.0,Marcos Alonso,3-4-3,Stuart Attwell,Match Report,NaN,Chelsea,3,12,4,33.3,0.25,0.75,22.5,0.0,0,0,1.1,1.1,0.09,1.9,1.9,17.0,13.0,0.0,3.0,1.0,0.0,0.0,4.0,2.0,0.0,2.0,0.0,0.0,0.0,13.0,10,7.0,5.0,1.0,5.0,22.0,22.7,17.0,123.0,33.0,26.8,50.0,50.0,23.0,19.0,9.0,0.0,10.0,11,NaN,33.0,1.0,6,0,6,100.0,1.0,0.8,0.8,0,0,0,0,4.0,9.0,44.4,27.0,7.0,22.2,26.0,9.0,33.3,30.7,14.0,1.0,7.1,0.0,13.3,416.0,509.0,81.7,7640.0,2455.0,178.0,197.0,90.4,172.0,201.0,85.6,53.0,90.0,58.9,2,0.7,8.0,21.0,4.0,0.0,28.0,1,0,0,13,11,2,11,11,10,0.0,0.0,0,87.0,18.0,12.0,60.0,2022,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,56,2022-05-07,15:00,Premier League,Matchweek 36,Sat,Home,D,2,2,Wolves,2.5,2.1,59,32190.0,C√©sar Azpilicueta,3-4-1-2,Peter Bankes,Match Report,NaN,Chelsea,2,19,5,26.3,0.05,0.20,17.0,2.0,1,1,2.5,1.7,0.09,-0.5,-0.7,30.0,20.0,2.0,0.0,3.0,3.0,2.0,3.0,1.0,0.0,0.0,0.0,1.0,1.0,21.0,11,6.0,10.0,5.0,4.0,16.0,25.0,12.0,129.0,26.0,20.2,26.0,54.0,49.0,9.0,1.0,0.0,8.0,13,NaN,17.0,0.0,4,2,2,50.0,0.0,1.3,-0.7,0,0,0,0,6.0,8.0,75.0,21.0,4.0,19.0,25.4,9.0,44.4,36.7,8.0,0.0,0.0,0.0,12.7,432.0,512.0,84.4,8187.0,2758.0,183.0,206.0,88.8,190.0,209.0,90.9,55.0,86.0,64.0,1,0.8,12.0,45.0,12.0,3.0,44.0,1,0,0,9,13,2,11,13,11,1.0,0.0,0,72.0,14.0,12.0,53.8,2022,5
57,57,2022-05-11,19:30,Premier League,Matchweek 33,Wed,Away,W,3,0,Leeds United,1.5,0.5,67,36549.0,Jorginho,3-4-3,Anthony Taylor,Match Report,NaN,Chelsea,3,17,3,17.6,0.18,1.00,16.4,0.0,0,0,1.5,1.5,0.09,1.5,1.5,31.0,26.0,1.0,1.0,0.0,1.0,2.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,20.0,15,6.0,10.0,4.0,6.0,8.0,75.0,2.0,152.0,55.0,36.2,22.0,80.0,50.0,8.0,2.0,0.0,6.0,17,NaN,8.0,0.0,0,0,0,NaN,1.0,0.0,0.0,0,0,0,0,6.0,9.0,66.7,24.0,2.0,29.2,32.9,3.0,66.7,50.7,6.0,0.0,0.0,1.0,19.3,748.0,838.0,89.3,13032.0,3649.0,347.0,375.0,92.5,304.0,333.0,91.3,79.0,107.0,73.8,3,1.3,14.0,44.0,11.0,2.0,46.0,0,0,0,14,13,3,12,17,15,0.0,0.0,0,86.0,15.0,14.0,51.7,2022,5
58,58,2022-05-14,16:45,FA Cup,Final,Sat,Home,D,0 (5),0 (6),Liverpool,NaN,NaN,47,84897.0,Jorginho,3-4-3,Craig Pawson,Match Report,Liverpool won on penalty kicks following extra...,Chelsea,0,10,2,20.0,0.00,0.00,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN,2,0,2,100.0,1.0,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,13,12,1,20,13,12,NaN,NaN,0,NaN,NaN,NaN,NaN,2022,5
59,59,2022-05-19,20:00,Premier League,Matchweek 27,Thu,Home,D,1,1,Leicester City,1.7,0.1,68,31478.0,Jorginho,3-4-3,Stuart Attwell,Match Report,NaN,Chelsea,1,20,7,35.0,0.05,0.14,19.7,2.0,0,0,1.7,1.7,0.08,-0.7,-0.7,33.0,26.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,7,2.0,5.0,3.0,2.0,7.0,28.6,5.0,147.0,39.0,26.5,18.0,66.0,63.0,11.0,0.0,0.0,11.0,11,NaN,4.0,0.0,1,1,0,0.0,0.0,0.2,-0.8,0,0,0,0,0.0,0.0,NaN,21.0,7.0,0.0,15.8,2.0,0.0,18.5,2.0,0.0,0.0,1.0,16.0,735.0,809.0,90.9,12995.0,3179.0,326.0,344.0,94.8,339.0,352.0,96.3,61.0,92.0,66.3,1,1.5,16.0,60.0,13.0,3.0,39.0,4,0,0,15,10,1,13,11,7,0.0,0.0,0,83.0,13.0,8.0,61.9,2022,5
60,60,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Home,W,2,1,Watford,2.4,1.0,72,32089.0,C√©sar Azpilicueta,3-4-3,Mike Dean,Match Report,NaN,Chelsea,2,19,8,42.1,0.11,0.25,16.3,0.0,0,0,2.4,2.4,0.13,-0.4,-0.4,30.0,27.0,0.0,0.0,2.0,0.0,1.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,26.0,19,5.0,17.0,4.0,11.0,20.0,55.0,9.0,127.0,42.0,33.1,30.0,56.0,41.0,13.0,4.0,0.0,9.0,7,NaN,10.0,0.0,3,1,2,66.7,0.0,1.1,0.1,0,0,0,0,2.0,2.0,100.0,21.0,3.0,9.5,22.8,3.0,0.0,16.3,4.0,0.0,0.0,2.0,19.0,685.0,761.0,90.0,12254.0,3520.0,327.0,350.0,93.4,255.0,275.0,92.7,89.0,110.0,80.9,2,2.2,14.0,57.0,16.0,3.0,53.0,0,0,0,13,13,0,14,7,19,0.0,0.0,0,81.0,15.0,8.0,65.2,2022,5

In [3]:
df['Month'] = df.Date.dt.month

In [8]:
df['Month'].value_counts()

12    9
4     8
1     7
9     6
10    6
3     6
5     6
11    5
8     4
2     4
Name: Month, dtype: int64

In [6]:
def to_int(row):
    tokens = row.split(' ')
    if len(tokens) ==2:
        return int(tokens[0])
    try:
        return int(row)
    except ValueError:
        return np.nan#int(row.GF.split(' ')[0])

In [5]:
df.GF

0     1 (6)
1         3
2         2
3         1
4         3
      ...
56        2
57        3
58    0 (5)
59        1
60        2
Name: GF, Length: 61, dtype: object

In [98]:
df.GF.str.split(' ')[0]

['1', '(6)']

In [7]:
df.loc[:,'GA'] = df.GA.apply(to_int)

In [8]:
df.loc[:,'GF'] = df.GF.apply(to_int)

In [11]:
df['Prev_match_date'] = df.Date.shift(1)

In [12]:
df[df.Comp == 'Premier League']['Referee'].value_counts()

Paul Tierney       5
Anthony Taylor     5
David Coote        4
Michael Oliver     3
Martin Atkinson    3
Andre Marriner     3
Mike Dean          3
Kevin Friend       3
Jonathan Moss      2
Stuart Attwell     2
Andy Madley        2
Chris Kavanagh     1
Craig Pawson       1
Peter Bankes       1
Name: Referee, dtype: int64

In [113]:
df.Formation.value_counts()

3-4-3      37
3-4-1-2    11
4-3-3       6
3-5-2       3
4-2-3-1     2
4-2-2-2     2
Name: Formation, dtype: int64

In [10]:
pd.DataFrame(df.groupby(['Formation','Result'])['Result'].agg('count'))

                  Result
Formation Result
3-4-1-2   D            4
          L            2
          W            5
3-4-3     D           11
          L            4
          W           22
3-5-2     L            1
          W            2
4-2-2-2   D            1
          W            1
4-2-3-1   W            2
4-3-3     D            1
          L            1
          W            4

In [119]:
pd.DataFrame(df.groupby(['Day','Result'])['Result'].agg('count'))

            Result
Day Result
Sat D            4
    L            4
    W           14
Sun D            4
    L            1
    W            8
Thu D            3
    W            1
Tue D            2
    W            5
Wed D            4
    L            3
    W            8

In [120]:
pd.DataFrame(df.groupby(['Rest','Result'])['Result'].agg('count'))

                Result
Rest    Result
3 days  D            6
        L            5
        W           20
4 days  D            4
        L            2
        W            6
5 days  D            4
        W            4
6 days  D            2
8 days  W            1
13 days W            1
14 days L            1
        W            4

In [13]:
#Opp_faced = df.Opponent.value_counts().to_dict()
#df['N'] = df['BsmtFinType1'].map(bsmf_map).astype('int')
def get_no_of_time_opp_faced(row):
    present_date = row.Prev_match_date
    if present_date is np.nan:
        pass
    back_df = df[df.Date<=present_date]
    Opp_faced = back_df.Opponent.value_counts().to_dict()
    if row.Opponent not  in Opp_faced.keys():
        return 0
    #display(Opp_faced)
    return Opp_faced[row.Opponent]

In [14]:
df.loc[:,'OPPPP'] = df.apply( get_no_of_time_opp_faced,axis='columns')

In [15]:
df[['OPPPP','Opponent']].head()

   OPPPP        Opponent
0      0   es Villarreal
1      0  Crystal Palace
2      0         Arsenal
3      0       Liverpool
4      0     Aston Villa

In [16]:
pd.DataFrame(df.groupby(['OPPPP','Result'])['Result'].agg('count'))

              Result
OPPPP Result
0     D            7
      L            4
      W           18
1     D            8
      L            3
      W           13
2     D            1
      L            1
      W            4
3     D            1
      W            1

In [17]:
df['Away_Win'] = df.apply(lambda x : 1 if x.Venue == 'Away' and x.Result == 'W' else 0 ,axis=1)
df['Away_Draw'] = df.apply(lambda x : 1 if x.Venue == 'Away' and x.Result == 'D' else 0 ,axis=1)
df['Away_Loss'] = df.apply(lambda x : 1 if x.Venue == 'Away' and x.Result == 'L' else 0 ,axis=1)

In [18]:
df['Home_Win'] = df.apply(lambda x : 1 if x.Venue == 'Home' and x.Result == 'W' else 0 ,axis=1)
df['Home_Draw'] = df.apply(lambda x : 1 if x.Venue == 'Home' and x.Result == 'D' else 0 ,axis=1)
df['Home_Loss'] = df.apply(lambda x : 1 if x.Venue == 'Home' and x.Result == 'L' else 0 ,axis=1)

In [20]:
pd.DataFrame(df.groupby(['Venue','Result'])['Result'].agg('count'))

              Result
Venue Result
Away  D            5
      L            4
      W           19
Home  D           12
      L            4
      W           17

In [19]:
df[['Venue','Result','Away_Win','Away_Draw','Away_Loss','Home_Win','Home_Draw','Home_Loss']].head()#.describe()*100

  Venue Result  Away_Win  Away_Draw  Away_Loss  Home_Win  Home_Draw  Home_Loss
0  Home      D         0          0          0         0          1          0
1  Home      W         0          0          0         1          0          0
2  Away      W         1          0          0         0          0          0
3  Away      D         0          1          0         0          0          0
4  Home      W         0          0          0         1          0          0

In [104]:
df.Away_Loss.value_counts()

0    57
1     4
Name: Away_Loss, dtype: int64

In [21]:
cols = ['GF','GA','Away_Win','Away_Draw','Away_Loss','Home_Win','Home_Draw','Home_Loss'] 
pd.DataFrame(df.groupby(['Month'])[cols].agg('sum')).shift(1)#.index#iloc[12]#.to_dict()

,GF,GA,Away_Win,Away_Draw,Away_Loss,Home_Win,Home_Draw,Home_Loss
Month,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13.0,5.0,1.0,1.0,1.0,3.0,1.0,0.0
3,5.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0
4,15.0,4.0,5.0,0.0,0.0,1.0,0.0,0.0
5,17.0,14.0,2.0,1.0,0.0,2.0,0.0,3.0
8,8.0,5.0,1.0,0.0,1.0,1.0,3.0,0.0
9,7.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0
10,8.0,3.0,1.0,0.0,1.0,2.0,1.0,1.0
11,19.0,2.0,2.0,0.0,0.0,3.0,1.0,0.0
12,10.0,2.0,2.0,0.0,0.0,1.0,2.0,0.0

In [51]:
aa = pd.DataFrame(df.groupby(['Month'])[cols].agg('sum')).shift(1)
aa[aa.index==2].index.name#.values[0]

'Month'

In [54]:
def match_streak_month(row):
    cols = ['GF','GA','Away_Win','Away_Draw','Away_Loss','Home_Win','Home_Draw','Home_Loss']
    month_df = pd.DataFrame(df.groupby(['Month'])[cols].agg('sum')).shift(1)#.iloc[1]#.to_dict()
    alias = 'prev_month_'
    new_cols = [alias+col for col in cols]
    month_df.columns = new_cols
    #row = pd.concat([row,month_df[month_df.index==row.Month]],axis=1)
    #row.merge(month_df[month_df.index==row.Month],on = 'Month')
    return pd.merge(left=row,right=month_df[month_df.index==row.Month],left_on='Month',right_on =month_df[month_df.index==row.Month].index.name)

In [60]:
def rolling_averages(group, cols, new_cols):
    #group = group.sort_values("Month")
    rolling_stats = group[cols].shift(1)#.rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    #group = group.dropna(subset=new_cols)
    return group

In [75]:
grouped_months1 = df.groupby("Month")[cols].agg('sum')
#group_jan = grouped_months.get_group(0)

In [79]:
grouped_months1.shift(1)

,GF,GA,Away_Win,Away_Draw,Away_Loss,Home_Win,Home_Draw,Home_Loss
Month,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13.0,5.0,1.0,1.0,1.0,3.0,1.0,0.0
3,5.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0
4,15.0,4.0,5.0,0.0,0.0,1.0,0.0,0.0
5,17.0,14.0,2.0,1.0,0.0,2.0,0.0,3.0
8,8.0,5.0,1.0,0.0,1.0,1.0,3.0,0.0
9,7.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0
10,8.0,3.0,1.0,0.0,1.0,2.0,1.0,1.0
11,19.0,2.0,2.0,0.0,0.0,3.0,1.0,0.0
12,10.0,2.0,2.0,0.0,0.0,1.0,2.0,0.0

In [69]:
aa= df.merge()

In [70]:
group_jan = grouped_months.get_group(1)

AttributeError: 'DataFrame' object has no attribute 'get_group'

In [61]:
cols = ['GF','GA','Away_Win','Away_Draw','Away_Loss','Home_Win','Home_Draw','Home_Loss']
alias = 'prev_month_'
new_cols = [alias+col for col in cols]

rolling_averages(grouped_months, cols, new_cols)

TypeError: 'DataFrameGroupBy' object does not support item assignment

In [ ]:
def rolling_averages(group, cols, new_cols):
    #group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [55]:
df1=df.copy()
df1 = df.apply(match_streak_month,axis='columns')

KeyError: 'Month'

In [45]:
df1.head()

0                                  0  prev_month_GF...
1                                  1  prev_month_GF...
2                                  2  prev_month_GF...
3                                  3  prev_month_GF...
4                                  4  prev_month_GF...
dtype: object

In [16]:
df['Rest'] = df.Date - df.Prev_match_date

In [18]:
df['Prev_comp'] = df.Comp.shift(1)

In [87]:
df['Prev_comp'].value_counts()

Premier League    37
Champions Lg      10
EFL Cup            6
FA Cup             6
Super Cup          1
Name: Prev_comp, dtype: int64

In [91]:
df.Captain.value_counts().index[:2]

Index(['C√©sar Azpilicueta', 'Jorginho'], dtype='object')

In [ ]:
"""
def duaration6_to_how(row):
    token_hr = int(re.sub('\D','',row.Duration.split(' ')[0]))
    return token_hr
train1.loc[indices_6[1],'Du_hr'] = train1.iloc[indices_6[1]].apply(duaration6_to_how, axis='columns')
"""

    OPPPP        Opponent
0       0   es Villarreal
1       0  Crystal Palace
2       0         Arsenal
3       0       Liverpool
4       0     Aston Villa
..    ...             ...
56      1          Wolves
57      1    Leeds United
58      3       Liverpool
59      1  Leicester City
60      1         Watford

[61 rows x 2 columns]

In [86]:
df.OPPPP.value_counts()

0    29
1    24
2     6
3     2
Name: OPPPP, dtype: int64

In [81]:
df.Opponent.value_counts().to_dict()

{'Liverpool': 4,
 'Tottenham': 4,
 'Aston Villa': 3,
 'Southampton': 3,
 'Brentford': 3,
 'Crystal Palace': 3,
 'Burnley': 2,
 'Manchester Utd': 2,
 'fr Lille': 2,
 'Brighton': 2,
 'Wolves': 2,
 'Everton': 2,
 'Leeds United': 2,
 'West Ham': 2,
 'Watford': 2,
 'es Real Madrid': 2,
 'Leicester City': 2,
 'Newcastle Utd': 2,
 'Norwich City': 2,
 'se Malm√∂': 2,
 'it Juventus': 2,
 'Manchester City': 2,
 'ru Zenit': 2,
 'Arsenal': 2,
 'Chesterfield': 1,
 'Plymouth Argyle': 1,
 'Luton Town': 1,
 'Middlesbrough': 1,
 'es Villarreal': 1}

In [25]:
df.Prev_match_date[0]

NaT

In [26]:
np.nan

nan

In [88]:
df[['Date','Prev_match_date','Rest','Comp','Prev_comp','OPPPP']]

         Date Prev_match_date    Rest            Comp       Prev_comp  OPPPP
0  2021-08-11             NaT     NaT       Super Cup             NaN      0
1  2021-08-14      2021-08-11  3 days  Premier League       Super Cup      0
2  2021-08-22      2021-08-14  8 days  Premier League  Premier League      0
3  2021-08-28      2021-08-22  6 days  Premier League  Premier League      0
4  2021-09-11      2021-08-28 14 days  Premier League  Premier League      0
..        ...             ...     ...             ...             ...    ...
56 2022-05-07      2022-05-01  6 days  Premier League  Premier League      1
57 2022-05-11      2022-05-07  4 days  Premier League  Premier League      1
58 2022-05-14      2022-05-11  3 days          FA Cup  Premier League      3
59 2022-05-19      2022-05-14  5 days  Premier League          FA Cup      1
60 2022-05-22      2022-05-19  3 days  Premier League  Premier League      1

[61 rows x 6 columns]

In [21]:
df.Round.values

array(['UEFA Super Cup', 'Matchweek 1', 'Matchweek 2', 'Matchweek 3',
       'Matchweek 4', 'Group stage', 'Matchweek 5', 'Third round',
       'Matchweek 6', 'Group stage', 'Matchweek 7', 'Matchweek 8',
       'Group stage', 'Matchweek 9', 'Fourth round', 'Matchweek 10',
       'Group stage', 'Matchweek 11', 'Matchweek 12', 'Group stage',
       'Matchweek 13', 'Matchweek 14', 'Matchweek 15', 'Group stage',
       'Matchweek 16', 'Matchweek 17', 'Matchweek 18', 'Quarter-finals',
       'Matchweek 19', 'Matchweek 20', 'Matchweek 21', 'Semi-finals',
       'Third round proper', 'Semi-finals', 'Matchweek 22',
       'Matchweek 24', 'Matchweek 23', 'Fourth round proper',
       'Matchweek 26', 'Round of 16', 'Final', 'Fifth round proper',
       'Matchweek 28', 'Matchweek 30', 'Matchweek 29', 'Round of 16',
       'Quarter-finals', 'Matchweek 31', 'Quarter-finals', 'Matchweek 32',
       'Quarter-finals', 'Semi-finals', 'Matchweek 25', 'Matchweek 34',
       'Matchweek 37', 'Matchweek 35', 'Matchweek 36', 'Matchweek 33',
       'Final', 'Matchweek 27', 'Matchweek 38'], dtype=object)

In [24]:
df.Opponent.value_counts().to_dict()

{'Liverpool': 4,
 'Tottenham': 4,
 'Aston Villa': 3,
 'Southampton': 3,
 'Brentford': 3,
 'Crystal Palace': 3,
 'Burnley': 2,
 'Manchester Utd': 2,
 'fr Lille': 2,
 'Brighton': 2,
 'Wolves': 2,
 'Everton': 2,
 'Leeds United': 2,
 'West Ham': 2,
 'Watford': 2,
 'es Real Madrid': 2,
 'Leicester City': 2,
 'Newcastle Utd': 2,
 'Norwich City': 2,
 'se Malm√∂': 2,
 'it Juventus': 2,
 'Manchester City': 2,
 'ru Zenit': 2,
 'Arsenal': 2,
 'Chesterfield': 1,
 'Plymouth Argyle': 1,
 'Luton Town': 1,
 'Middlesbrough': 1,
 'es Villarreal': 1}